@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/SpaceMono/space-mono-normal-400.woff2");
}

@font-face {
    font-family: "Space Mono";
    font-style: bold;
    font-weight: 700;
    src: url("/fonts/SpaceMono/space-mono-normal-700.woff2");
}

@font-face {
    font-family: "Space Mono";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/SpaceMono/space-mono-italic-400.woff2");
}